*	 {
	margin: 0;
	padding: 0;
	border: unset;
	font-size: 100%;
}

.root {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

body {
	background: #f0f0f5;
}